.event-card {
    min-height: 350px;

    &:hover > .front {
        top: 0;
    }
    .front {
        position: absolute;
        top: -500px;
        transition: transform 0.5s 0s ease !important;
        z-index: 10;
        background-color: white;
    }
    .back {
        z-index: 1;
    }
}
