.add-pet-card {
    border: 0;
    max-width: 1000px;
    .image-upload {
        max-height: 200px;
        aspect-ratio: 1;
        background-color: #efefef;
        border: 3px dashed grey;
        outline: 10px solid #e3e3e3;
        padding: 10px;
        margin: 10px;

        .btn-close {
            z-index: 100;
            border: none;
            cursor: pointer;
            height: 32px;
            top: 16px;
            right: 16px;
            width: 32px;
            background-color: #fff;
            padding: 5px;
        }
        .browse-file-container {
            padding: 10px;
            .upload-button {
                height: 32px;
                width: 32px;
                overflow: hidden;
                background-color: #0055ff;
                background-size: 100% 200%;
                transition: all 1s;
                color: #ffffff;
                font-size: 100px;
                cursor: pointer;
                padding: 8px;

                input[type="file"] {
                    height: 200px;
                    width: 200px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
                &:hover {
                    background-color: #003cb2;
                    cursor: pointer;
                }
            }
        }
    }

    .action-button {
        height: 32px;
        background: #f1f1f1;
        border-radius: 0 0 16px 16px;
        color: var(--theme-color) !important;
        & > * {
            margin-left: 10px;
        }
    }
}

.input {
    border: 3px solid #f1f1f1;
    border-width: 3px;
    border-color: #f1f1f1 !important;
}
.textarea {
    border: 3px solid #f1f1f1;
    border-width: 3px;
    border-color: #f1f1f1 !important;
    resize: none;
}

.typing-box {
    width: 100%;
    position: relative;
}
