.form-group {
    &.icon-input,
    &.icon-right-input {
        position: relative;
        span {
            display: flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        input {
            padding-left: 35px;
        }
    }
    &.icon-input span {
        left: 15px;
    }
    &.icon-right-input span {
        right: 15px;
    }

    .style1-input {
        height: 55px;
        line-height: 55px;
        display: block;
        font-size: 12px;
    }
    .style1-select {
        line-height: 55px;
        height: 55px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        color: #adb5bd !important;
    }

    .style2-select {
        line-height: 60px;
        height: 60px;

        font-size: 14px;
        font-weight: 500;
        color: #adb5bd !important;
        border: 2px #eee solid;
        border-radius: 7px;
    }

    .style2-input {
        height: 60px;
        line-height: 60px;
        display: block;
        border: 2px #eee solid;
        border-radius: 7px;
        &::-webkit-input-placeholder {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 60px;
        }
        &::-moz-placeholder {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 60px;
        }
        &:-ms-input-placeholder {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 60px;
        }
        &:-moz-placeholder {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 60px;
        }
        i {
            position: relative;
            top: 6px;
        }
    }
    .style2-textarea {
        line-height: 20px;
        display: block;
        border: 2px #eee solid;
        border-radius: 7px;
    }
}

.search-form {
    position: relative;
    input {
        height: 55px;
        line-height: 55px;
        padding-left: 20px;
        border-radius: 8px;
        font-weight: 500;
    }
    i {
        position: absolute;
        top: 18px;
        right: 15px;
        color: #999;
    }
}
.searchbox-close {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-form-2 {
    position: relative;
    input {
        height: 45px;
        line-height: 45px;
        padding-left: 20px;
        border-radius: 8px;
        font-weight: 500;
    }
    i {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #999;
    }
}

.form-control {
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    display: inline-block;
    border: 2px #eee solid;
    &:focus {
        border-color: var(--theme-color);
    }
    &.style2 {
        height: 60px;
        line-height: 60px;
    }
}
