.my__carousel_main {
    max-height: 500px;
    div {
        ol {
            li {
                background-color: red;
                border-radius: 50%;
                height: 10px;
                width: 10px;
            }
        }
    }
}
