.floatingButton {
    position: absolute;
    right: 45px;
    bottom: 45px;
    border-radius: 50%;

    & .icon {
        background-color: #fff;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:hover {
            color: var(--theme-color) !important;
        }
    }
}
